<div class="container" style="margin-left: 5%;">
    <mat-grid-list cols="4" gutterSize="1px">
      <mat-grid-tile *ngFor="let produto of produtos" (click)="service.produto = produto; router.navigate(['produto'])">
        <!-- Conteúdo do produto aqui -->
        <div class="card">
          <img class="card-img-top" style="width: 100%; max-height: 1%;" src="{{produto.img}}" alt="é mentira">
          <div class="card-body">
            <p class="card-text">{{produto.nome}}</p>
            <h5 class="card-title">{{produto.descricao}}</h5>
            <p class="card-text" style="font-style: italic;">{{produto.valor}} R$</p>
            <!-- Adicione mais informações conforme necessário -->
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <button style="margin-left: 47%;" *ngIf="user.tipo == 'fornecedor'" mat-raised-button color="primary" (click)="service.produto = null; router.navigate(['produto'])">Adicionar produto</button>