<mat-toolbar color="primary">
   <button mat-icon-button (click)="caminhao()">
    <mat-icon>local_shipping</mat-icon>
   </button>
   <span (click)="router.navigate([''])">Empório Dona Maria</span>
   <button mat-icon-button style="margin-left: auto;" *ngIf="usuario.tipo == 'cliente'" (click)="router.navigate(['cliente'])">
    <mat-icon>person</mat-icon>
   </button>
   <button style="margin-left: auto;"mat-button *ngIf="!usuario.tipo" (click)="logar = true">
    logar
   </button>
</mat-toolbar>
<router-outlet *ngIf="!logar"/>
<login (login)="fazerSexo($event)" (signar)="fazerSexo(); router.navigate(['signup'])" *ngIf="logar"></login>
