
 <mat-card class="form-container">
    <mat-card-title>Editando Cliente</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="input-field">
          <input [(ngModel)]="client.nome" name="name" matInput placeholder="Nome" required>
        </mat-form-field>

        <mat-form-field class="input-field">
          <input [(ngModel)]="client.email" name="email" matInput placeholder="Email" type="email" required>
        </mat-form-field>

        <mat-form-field class="input-field">
          <input [(ngModel)]="client.telefone" name="telefone" matInput placeholder="Telefone">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
      </form>
    </mat-card-content>
  </mat-card>